////////////////////////////////////////////////////////////////////////////////
// "base" partial
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

//
// Links
//
a {
  color: $link_color;
  font-weight: 600;
  text-decoration: none;
  &:link {
  }
  &:visited {
    color: $link_color;

  }
  &:hover {
    color: #E5BE7E;
  }
  &:focus {
    color: $link_color;
    //outline: thin dotted;
  }
  
  &:active{
    color: $link_color;
    font-weight: 800;
  }
  &:hover, &:active {
    text-decoration: underline;
    outline: 0; // Improve readability when focused and hovered in all browsers: h5bp.com/h
  }
}

#navigation {
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    list-style: none;
  }
}

#footer {
  p {
    margin:0px;
  }
}

//
// Typography
//
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: $header_text_color;
  font-family: $main_font;
  font-weight: 400;
  @include breakpoint($mobile) {
    line-height: 1.5;
    @include font-size(16);
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  @include font-size(36);
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  @include font-size(24);
  margin-bottom: 0.75em;
}

h3 {
  @include font-size(20);
  margin-bottom: 0.8em;
}

h4 {
  @include font-size(18);
  margin-bottom: 0.8em;
}

h5 {
  @include font-size(14);
  margin-bottom: 0;
}

h6 {
  @include font-size(13);
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  margin: 1em 40px;
  font-family: 'Georgia', serif;
  font-style: italic;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: $monospace_font; // Redeclare monospace font family: h5bp.com/j
  @include font-size(13);
  line-height: 1.5em;
}

pre { // Improve readability of pre-formatted text in all browsers
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 92%;
}

sub, sup { // Position subscript and superscript content without affecting line-height: h5bp.com/k
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

//
// Lists
//
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
      ul {
        list-style-type: circle;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: decimal;
    }
  }
}

p img {
  @include breakpoint($tablet) {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

img {
  @include breakpoint($tablet) {
    border: 0;
    max-width: 100%;
  }
}
table {
  @include breakpoint($tablet) {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}


html{
  background: lighten($beige,20%);
}

/*
body{
  color: lighten($braun,10%);
}
*/

img, media{
  max-width: 100%;
  height: auto;
  //display: block;
}

/******************************************************************************
 * 
 *
 * Styleguide Section
 * admin/appearance/styleguide 
 *
 *
 ******************************************************************************/


ul.pager{

  li{
    list-style-image: none;
    list-style-type: none;
  }
  
}

ul.breadcrumb {

  padding: 0;
  font-size: 90%;
  font-weight: 300;
  &::after{
    content:"";
    display: table;
    clear: both;
  }

  li{
    float: left;
    list-style-image: none;
    list-style-type: none;
    
    &::after{
      content: " /";
    }
    
    padding-left: 5px;
    
    &:first-of-type{
      padding-left: 0;
    }
    
    &:last-of-type::after{
      content: "";
    }
    
    &:last-of-type{
    font-weight: 600;
    }
  }
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
  border-bottom: 1px solid lighten($beige,10%);
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 30px 5px 0 5px;
  padding: 0 0 10px 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: lighten($beige,15%);
  border-color: lighten($beige,10%);
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
  color: $braun;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
}
ul.primary li.active a {
  background-color: lighten($beige,20%);
  border: 1px solid lighten($beige,10%);
  border-bottom: 1px solid lighten($beige,20%);
  color: $braun;
}
ul.primary li a:hover {
  background-color: $beige;
  border-color: $beige;
  border-bottom-color: $beige;
}
ul.secondary {
  border-bottom: 1px solid lighten($beige,10%);
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid lighten($beige,10%); /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid lighten($beige,10%);
}

del, s {
  text-decoration: line-through;
}

em {
  font-style: italic;
}

figcaption{ //http://www.w3schools.com/tags/tag_figcaption.asp - Bildunterschrift Container
  
}

figure{ //Bild Container
  text-align: center;
  //margin: 10px auto; /* not needed unless you want centered */
  padding: 10px;
  background: white;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid lighten($beige,10%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

i{
  font-style: italic;
}

sub{
  bottom: -0.25em;
}

sup{
  top: -0.5em;
}

u{
  text-decoration: underline;
}

div.messages{
  border-radius: 3px;
  color: white;
  line-height: 2.2em;
  padding: 10px 20px;
  border: none;
}

.messages.status{
  background: lighten($tuerkis,10%);
}

.messages.warning{
  background: lighten($orange,6%);
}

.messages.error{
  background: $rot;
}

form.webform-client-form-466{
  background: #FFFDF7;
  padding: 5px 20px;
}


.form-item, .form-actions{
  vertical-align: middle;
  line-height: 3rem;
}

.webform-container-inline label{
  vertical-align: middle;
}

select {
    padding: 8px 10px;
    margin: 0;
    //margin-top: 10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color: white;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    @include background(image-url('icons/triangles.png') #7E716C no-repeat 95% center);
}

input[type="checkbox"]{

}

input[type="radio"]{
  
}

input[type="text"], input[type="password"], input[type="email"]{
  border-radius: 3px;
  border: 1px solid lighten($beige,10%);
  padding: 5px;
  //width: 100%;
  &.form-autocomplete{
    //background-image: url('../../../images/misc/throbber.gif');
    background-position: 100% -11px;
    background-repeat: no-repeat;
  }
}

.form-textarea-wrapper{
  
  textarea{
    border-radius: 3px;
    border: 1px solid lighten($beige,10%);
    padding: 5px;  
  }

}

select#edit-date-day{
  
}

select#edit-date-month{
  
}

select#edit-date-year{

}

.description{
  font-size: 0.85em;
}

input[type="file"]{
}

input.form-submit{
    text-decoration: none;
    padding: 6px 10px;
    margin-right: 2px;
    color: $braun;
    background: lighten($beige,15%);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px lighten($braun,30%);
    margin-left: 0px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

input.form-submit:hover{
  background: lighten($beige,5%);
  color: $braun;
  box-shadow: 0px 0px 1px 0px lighten($braun,20%);
}

fieldset {
  border: 1px solid lighten($braun,60%);
  margin: 0 2px;
  padding: 0.35em 1.625em 0.75em;
  background: white;
}

fieldset.collapsed{
  background: none;
}

div.vertical-tabs {
margin: 1em 0 1em 15em;
border: 1px solid lighten($beige,25%);
position: relative;
}

mark.marker{
  color: white;
  background: $tuerkis;
  padding: 0 5px;
}

ul {

  &.links--inline{
    li{
      list-style-type: none;
      list-style-image: none;
    }
  }

  li{
    list-style-type: square;
    list-style-image: none;
  }
}

ul.inline li{
  padding: 0px;
}

.active {
  color: $braun;
}

table{
  width: 100%;
  @include font-size(13);
  
  caption {
  @include font-size(20);
  text-align: left;
  padding: 30px 0 10px 0;
  
  }
  
  a{
    //color: $tuerkis;
  }
  
  thead {
    th{
      padding: 10px;
      border-bottom: 3px solid white;
    }
    tr {
      background: darken($beige,5%);
      color: white;
      //padding: 5px;
      font-style: italic;
      font-weight: 600;
      border-bottom: rgba(246, 206, 136, 0.39);
    }
  }
  
  tbody{
    border-top: inherit;
  }

  tr{
    border-bottom: 1px solid  white;
    line-height: 1.4em;
    &.odd{
      background: rgba(246, 206, 136, 0.11);
      border-bottom: 1px solid  white;
      td{
        padding: 10px;
      }
    }
    &.even{
      background: lighten($beige,21%);
      border-bottom: 1px solid  white;
      td{
        padding: 10px;
      }
    }

    &:last-of-type{
      border-bottom: 2px solid white;
    }
    
    td{
      //vertical-align: middle;
      &.active{
        background-color: #FFEFD3;
      }
      &.views-field-title{
        font-weight: 600;
      }
    }
  }
  img{
    max-width: inherit;
  }
}


.page-parkett-restposten{

    td.views-field.views-field-sku {
      width: 10%;
    }
    
    td.views-field-title {
      width: 20%;
    }
    
    td.views-field-field-dimension{
      width: 20%;
    }
    
    td.views-field.views-field-field-produkt-merkmale {
      width: 20%;
    }
    
    td.views-field-commerce-stock{
      width: 10%;
    }
    
    td.views-field.views-field-commerce-price.views-align-right {
      width: 20%;
    }
    
    .commerce-price-savings-formatter-prices-inline tr td {
      padding: 2px 6px;
    }

}

.page-parkett-restposten, .page-node-396{
  td{
    padding: 10px;
  }
}



/******************************************************************************
 * 
 *
 * Ende Styleguide Section
 * admin/appearance/styleguide 
 *
 *
 ******************************************************************************/
 
 button, .button{
  @include background-image(linear-gradient($button, lighten($button,5%)));
  border-radius: 3px;
  font-family: $main_font;
  color: white;
  font-size: 1em;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px lighten($braun, 5%);
  font-weight: 400;
  letter-spacing: 1px;

  &:hover {
  @include background-image(linear-gradient(lighten($tuerkis,10%), $tuerkis));
  text-decoration: none;
  //border: 1px solid lighten($tuerkis, 15%);
  }
  
  &.orange{
	  @include background-image(linear-gradient(darken($orange,5%), lighten($orange,5%)));
	  text-shadow:1px 1px 0px darken($orange,5%);
    width: 100%;
    line-height: 1.3em;
    color: white;
    &:hover{
      @include background-image(linear-gradient($hellorange, $orange));
    }
  }
  
  &.tuerkis{
    @include background-image(linear-gradient($tuerkis, lighten($tuerkis, 10%)));
    width: 100%;
    line-height: 1.3em;
    text-shadow: 1px 1px 1px darken($tuerkis, 5%);
    &:hover{
      @include background-image(linear-gradient(lighten($tuerkis, 15%), $tuerkis));    
    }
  }
}

a.button:hover{
  color: white;
}

a.button{
  display: inline-block;
  margin: 10px 0 10px 0;
}

a > div.button:hover{
  text-decoration: none;
}


.sidebar.first button{
  //box-shadow: 0px 0px 2px 2px darken($braun,5%);
  //padding: 5px 10px;
    &:hover{
      //box-shadow: 0px 0px 1px 1px lighten($braun,5%);
    }
}

.button-orange, .more-link{
  @include background-image(linear-gradient($braun, lighten($braun,17%)));
  border-radius: 3px;
  font-family: $main_font;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid lighten($braun,10%);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px darken($braun, 5%);
    
    a{
      color: white;
      font-weight: 700;
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      @include background-image(linear-gradient(lighten($tuerkis,10%), $tuerkis));
      text-decoration: none;
      border: 1px solid lighten($tuerkis, 15%);

    }
    h2.pane-title{
      @include font-size(14);
      color: white;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    
    i.fa-envelope{
      margin-top: 0px;
      padding-left: 10px;
    }
}

.more-link{
  float: right;
}

#cboxContent > button{
  border-radius: inherit;
  box-shadow: none;
}

a > button{
  color: white;
  text-transform: uppercase;
  //font-weight: 600;
}

a > button.tuerkis{
  color: white;
}

.tabs a {
  background-color: $beige;
}

.tabs a:hover, .tabs a:focus {
  background-color: lighten($beige,10%);
}

.tabs a.active {
  background-color: darken($beige,5%);
}

.tabs--primary {
  border-bottom: 1px solid $beige;
  margin-bottom: 1em;
}

.orange{
  color: $orange;
}

.toggle {
  h2 { 
    @include background(image-url('arrow-to_right.png'));
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 18px;
    cursor: pointer;
    //margin-left: 15px;
    &.active{
      @include background(image-url('arrow-to_down.png'));
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 18px;
    }
  }
  
  .webform-client-form{

    .form-item{
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      margin-bottom: 10px;
    }
    input {
      float: right;
      width: 60%;
      &[type="submit"]{
        float: none;
        width: inherit;
      }
      &.form-radio{
        float: none;
        width: inherit;
        margin-right: 5px;
      }
    }

  }

  .webform-component-textarea{
    .form-textarea-wrapper {
      width: 60%;
      float: right;
      textarea{
      }
    }
    &::after{
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .fa {
    padding-top: 3px;
    color: darken($beige, 5%);
  }
  
}

.wohngesundname { background-color: yellow }

.webform-container-inline label{
  display: inline-block;
  margin-right: 1em;
}

.webform-client-form input, .webform-client-form select{
  float: right;
  width: 60%;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.toggle{

  h1, h3{
    display: inline-block;

    &:after{
      content:"";
      display: inline-block;
      background-image: $more;
      background-position: -($more-width * 1) -($more-width * 1);
      width: $more-width;
      height: $more-height;
      cursor: pointer;
      margin-left: 20px;
    }
  }
  
  h1.active, h3.active{

    &:after{
      background-position: -($more-width * 1) -($more-width * 2);
    }
  }
}

h2.block-title, h4.block-title {
  font-size: 1.5rem;
  background: rgba(125, 107, 100, 0.58);
  padding: 7px 20px 3px 20px;
  margin-bottom: 0;
  font-weight: 300;
  color: white;
  text-align: center;
  font-family: 'gnuolane', sans-serif;
  letter-spacing: 1px;
  margin-top: 5px;
  line-height: 3.6rem;   
}
h2.block-title::before, h4.block-title::before{
  content: '';
  @include background(image-url('leaf-header-sidebar.png'));
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  width: 15px;
  height: 25px;
  margin-bottom: -3px;
  padding-right: 3px;
}

//überschreibt jquery.ui.theme.min.css
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid lighten($beige, 12%);
    background: lighten($beige, 17%);
    font-weight: 300;
    color: $braun;
}

.ui-widget-content {
    border: 1px solid lighten($beige, 12%);
    background: lighten($beige, 25%);
    color: $braun;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: lighten($braun,10%);
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: $braun;
    text-decoration: none;
}


